@charset "utf-8";

#headline {
    width: 100%;
    min-width: 1263px;
    height: 300px;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)) no-repeat center,
        url(../img/information/headline.jpg) no-repeat center;
    background-size: 100% 300px;

}

#headline .center {
    width: 1263px;
    height: 100%;
    /* text-align: center; 错误用法*/
    margin: 0 auto;
}

#headline hgroup {
    padding: 100px 0 0 50px;
}

#headline h2 {
    color: #eee;
    font-size: 30px;
    letter-spacing: 2px;
}

#headline h3 {
    color: #eee;
    font-size: 20px;
    letter-spacing: 1px;
}

#container {
    width: 1263px;

    /* background-color: red; */
    margin: 30px auto;
}

/* 侧边栏布局 */
#container .sidebar {
    width: 320px;

    float: right;
}

#container .sidebox {
    width: 320px;
    border: 1px solid #eee;
    text-align: center;
    margin: 0 0 10px 0;
}

#container .sidebox h2 {
    text-align: left;
    text-indent: 10px;
    background-color: #fafafa;
    color: #666;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    height: 40px;
    line-height: 40px;
}

/* 侧边栏 景点推荐部分 */
#container .tag {
    padding: 10px 0;

}

#container .tag a {
    display: inline-block;
    width: 100px;
    height: 35px;
    background-color: #eee;
    margin: 2px 0;
    line-height: 35px;
    color: #999;
    font-size: 15px;
    text-indent: 8px;
    text-align: left;
}

#container .tag a:hover {
    background-color: #458b00;
    color: #fff;
}

/* 侧边栏 热卖旅游部分 */
#container .figure {
    padding: 10px 0;
}

#container .popular figure {
    display: inline-block;
    padding: 2px;
    color: #666;
}

/* 侧边栏 旅游百宝箱部分 */
#container .treasure .box {
    padding: 10px 0;

}

#container .box a {
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: #eee;
    margin: 2px 0;
    line-height: 40px;
    color: #999;
    font-size: 15px;
    text-indent: 35px;
    text-align: left;
}

#container .box a.trea1 {
    background: #eee url(../img/about/trea1.png) no-repeat 10px center;
}

#container .box a.trea2 {
    background: #eee url(../img/about/trea2.png) no-repeat 10px center;
}

#container .box a.trea3 {
    background: #eee url(../img/about/trea3.png) no-repeat 10px center;
}

#container .box a.trea4 {
    background: #eee url(../img/about/trea4.png) no-repeat 10px center;
}

/* 滚动加载页面 */
#container .list {
    width: 920px;

    float: left;
}

/* 子导航栏 */
#container .infor {
    height: 45px;
    line-height: 45px;
    margin: 0 0 20px 0;
    background-color: #eee;
}

#container .infor .left {
    /* list-style: none; */
    float: left;
}

#container .infor .right {
    float: right;
}

/* 左边 */
#container .infor .left li {
    display: inline-block;
    width: 150px;
    height: 43px;
    line-height: 43px;
    font-size: 18px;
}

#container .infor .left li:first-child {
    background-color: #fff;
    border-top: 2px solid #458b00;
    position: relative;
    left: 1px;
}

#container .infor .left a {
    display: block;
    color: #666;
    text-align: center;

}

/* 右边 */
#container .infor .right li {
    width: 60px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    display: inline-block;
    text-align: center;

}

#container .infor .right a {
    padding: 3px 8px;
    color: #666;
    /* background-color: #458b00; */

}

/* ???? */
#container .infor .select,
#container .infor .right a:hover {
    color: #fff;
    background-color: #458b00;
}

/* 子条目 */
#container .list .tour {
    height: 230px;
    border: 1px solid #eee;
    margin: 0 0 20px 0;
    position: relative;
}

#container .list .tour img {
    float: left;
    height: 230px;
}

#container .list .tour figcaption {
    width: 528px;
    height: 230px;
    float: right;
}

#container .list .tour hgroup {
    width: 300px;
}

#container .list .tour h2 {
    font-size: 24px;
    font-weight: normal;
    padding: 10px 0 10px 25px;
    color: #333;

}

#container .list .tour h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    padding: 10px 0 10px 25px;
    color: #666;

}

#container .list .tour ol {
    color: #666;
    padding: 0 0 0 25px;
    line-height: 2;
}

#container .list .tour mark {
    padding: 0 5px;
    background-color: #fff;
    border: 1px solid #458b00;
    border-radius: 5px;
}

#container .list .tour .buy {
    position: absolute;
    top: 55px;
    right: 30px;

}

#container .list .tour .price {
    font-size: 20px;
    color: #f60;

}

#container .list .tour .price s {
    font-size: 16px;
    color: #999;

}

#container .list .tour .reserve {
    margin: 10px 0 0 0;
}

#container .list .tour .reserve a {
    display: inline-block;
    width: 152px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #f60;
    color: #fff;
    font-size: 20px;
    text-align: center;

}

#container .list .tour .disc {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/information/disc.png) no-repeat;
    width: 52px;
    height: 52px;
}

#container .list .tour .disc span {
    width: 52px;
    height: 52px;
    display: block;
    font-size: 14px;
    color: #ff7a4d;
    transform: rotate(45deg);
    text-indent: 7px;
    padding: 5px 0 0 0;

}

#container .list .tour .type {
    width: 90px;
    height: 25px;
    line-height: 25px;
    /* 垂直居中 */
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: #59b200;
    text-align: center;
    letter-spacing: 1px;
    border-bottom-right-radius: 4px;
}

#container .list .tour footer {

    width: 528px;
    height: 35px;
    line-height: 35px;
    text-indent: 25px;
    color: #666;
    position: absolute;
    bottom: 0;
    background-color: #fafafa;
    letter-spacing: 1px;

}

#container .list .more {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    margin: 0 auto;
    cursor: pointer;
    background-color: #fafafa
}